.parent:hover .slideanimation {
  animation-play-state: paused;
}

.slideanimation {
  animation: logoslide 20s linear infinite;
}

@keyframes logoslide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
